{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "no-shadow": ["error"]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}

